.glass-background-item {
    background: radial-gradient(100% 2294.72% at 0% 0%, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.24) 99.48%);
    border: 1px solid rgba(12, 111, 246, 0.3);
    border-radius: 20px;
}